@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');

* {
    margin:0;
    padding:0;
    font-family: 'Pixelify Sans', sans-serif;
    font-size: medium;
}

body {
    background-image: url('background/pxfuel.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 85dvh;
    background-position: bottom;
    overflow: hidden;
}


:root{
    --background-button: #222222;
}

input{
    background-image: url('background/bois.jpg');
    border: transparent ;
}

input::placeholder {
    text-align: center;
    color: black;
}

#chat-enter{
    background-image: url('background/bois.jpg');
    width: 75%;
    max-height: 20vh;
    padding: 1%;
    max-width: 30vw;
    border:transparent;
}

.sign-in-input-group{
    margin-left: auto;
    margin-right: auto;
    margin-top: 32vh;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items:center;
    align-content: space-between ;
}

.sign-in-input-group input{
    margin-bottom: 3vh;
    margin-top: 3vh;
    width: 80%;
}

#login{
    background-image: url('background/full.jpeg');
    margin: 5vh 0;
    padding: 2vh 2vw;   
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    border: transparent;
    border-radius: 10px;
    cursor: pointer;
}

#login:hover{
    background-image: url('background/bois.jpg');
    background-size: cover;

}

#api-message{
    text-align: center;
    color: red;
    visibility: hidden;
}

.register{
    display: flex; 
    margin-left: auto;
    margin-right: auto;
    padding: 2vh 2vw;   
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    border: transparent;
    border-radius: 10px;
    cursor: pointer;
}

#chatPage{
    height: 105dvh;

}

#chat{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}


#space{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: auto;
    margin-right: 35vh;
    overflow-y: auto;
    overflow-x: hidden;
}

#member-space{
    background-color: hsla(0, 0%, 0%, 0.3);
    width: 20vw;
    height: 35vh;
    padding: 1%;
    margin-left: 5vw;
    word-wrap: break-word;
    overflow-y:scroll;
}
#member-space::-webkit-scrollbar{
     width: 0.8vw;
}
#member-space::-webkit-scrollbar-thumb{
     background-color: var(--background-button);
}

#chat-space{
    background-color: hsla(0, 0%, 0%, 0.3);    
    width: 30vw;
    height: 35vh;
    margin-bottom: 8vh;
    padding: 1%;
    overflow-y:scroll;
}
#chat-space::-webkit-scrollbar{
     width: 0.4vw;
}
#chat-space::-webkit-scrollbar-thumb{
     background-color: var(--background-button);
}
.message{
    font-size: calc(10px + 0.5vw);
    width: 100%;
    overflow-wrap: break-word;
   
}

.member{
    font-size: calc(10px + 0.5vw);
    width: 100%;
}

.flexing{
    margin-left: auto;
    margin-right: auto;
    margin-top: 20vh;
    width: 25%;
    display: flex;
    flex-direction: column; 
}

.flexing input {
    margin-bottom: 5vh;
}

.flexing #api-message{
    margin-bottom: 2vh;
}


.register#reg1{
    margin-top: 5vh;
    background-image: url('background/rouge.jpg');
}

.register#reg1:hover{
    background-image: url('background/pixel-green.jpg');
}

#sign-out-btn{
    position: absolute;
    left: 2vw;
    top: 2vh;
    padding: 2vh 2vw;   
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    border: transparent;
    border-radius: 10px;
    cursor: pointer;
    background-image: url('background/stone.jpg');
}

#LOG{
    position: absolute;
    left: 2vw;
    top: 2vh;
    padding: 2vh 2vw;   
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    border: transparent;
    border-radius: 10px;
    cursor: pointer;
    background-image: url('background/stone.jpg');
}

#username{
    font-size: calc(10px + 0.9vw);
    margin-bottom: 5vh;
}