@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');

* {
    margin:0;
    padding:0;
    font-family: 'Pixelify Sans', sans-serif;
    font-size: medium;
}

body {
    background-image: url('background/pxfuel.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 85dvh;
    background-position: bottom;
    overflow: hidden;
}

input{
    background-image: url('background/bois.jpg');
    border: transparent ;
}

input::placeholder {
    text-align: center;
    color: black;
}

textarea{
    background-image: url('background/bois.jpg');
    width: 50%;
    max-height: 35vh;
    padding: 1%;

}

.sign-in-input-group{
    margin-left: auto;
    margin-right: auto;
    margin-top: 32vh;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items:center;
    align-content: space-between ;
}

.sign-in-input-group input{
    margin-bottom: 3vh;
    margin-top: 3vh;
    width: 80%;
}

.sign-in-input-group button{
    background-image: url('background/full.jpeg');
    margin: 5vh 0;
    padding: 2vh 2vw;   
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    border: transparent;
    border-radius: 10px;
    cursor: pointer;
}

.sign-in-input-group button:hover{
    background-image: url('background/bois.jpg');
    background-size: cover;

}

#api-message{
    text-align: center;
    color: red;
    visibility: hidden;
}

.register, #sign-out-btn{
    display: flex; 
    margin-left: auto;
    margin-right: auto;
    padding: 2vh 2vw;   
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    border: transparent;
    border-radius: 10px;
    cursor: pointer;
}

#chat{
    margin-left: auto;
    margin-right: auto;
    margin-top: 32vh;
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.flexing{
    margin-left: auto;
    margin-right: auto;
    margin-top: 20vh;
    width: 25%;
    display: flex;
    flex-direction: column; 
}

.flexing input {
    margin-bottom: 5vh;
}

.flexing #api-message{
    margin-bottom: 2vh;
}


.register#reg1{
    margin-top: 5vh;
    background-image: url('background/rouge.jpg');
}

.register#reg1:hover{
    background-image: url('background/pixel-green.jpg');
}

#sign-out-btn{
    background-image: url('background/stone.jpg');
    margin-top: 15vh;
}
