@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');
* {
    margin:0;
    padding:0;
    font-family: 'Pixelify Sans', sans-serif;
    font-size: medium;
}

body {
    background-image: url('pxfuel.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100vw;
    height: 80dvh;
    background-position: bottom;
    overflow: hidden;
  }

input{
    background-image: url('bois.jpg');
    border: transparent ;
}

input::placeholder {
    text-align: center;
}

textarea{
    background-image: url('bois.jpg');
    max-height: 35vh;
    padding: 10px;
    /*text-size-adjust:;*/

}



.sign-in-input-group{
    margin-left: auto;
    margin-right: auto;
    margin-top: 32vh;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items:center;
    align-content: space-between ;
}

.sign-in-input-group input{
    margin-bottom: 3vh;
    margin-top: 3vh;
    width: 80%;
}

.sign-in-input-group button{
    background-image: url('full.jpeg');
    margin: 5vh 0;
    padding: 2vh 2vw;   
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    border: transparent;
    border-radius: 10px;
    cursor: pointer;
}

.sign-in-input-group button:hover{
    background-image: url('bois.jpg');
    background-size: cover;

}

#api-message{
    text-align: center;
    color: red;
    visibility: hidden;
}

#username{
    position: absolute;
    left: 45%;
    top: 25%;
    font-size: larger;
}

#chat{
    margin-left: auto;
    margin-right: auto;
    margin-top: 32vh;
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.flexing{
    margin-left: auto;
    margin-right: auto;
    margin-top: 20vh;
    width: 25%;
    display: flex;
    flex-direction: column; 
}

.flexing input {
    margin-bottom: 5vh;
}

.register, #sign-out-btn{
    display: flex; 
    margin-left: auto;
    margin-right: auto;
    padding: 2vh 2vw;   
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    border: transparent;
    border-radius: 10px;
    cursor: pointer;
}

.register#reg1{
    margin-top: 5vh;
    background-image: url('rouge.jpg');
}

.register#reg1:hover{
    background-image: url('pixel-green.jpg');
}

.register#reg2{
    margin-top: 5vh;
    background-image: url('bleu.jpg'); 
}

.register#reg2:hover{
    background-image: url('pixel-green.jpg');
}

#sign-out-btn{
    background-image: url('stone.jpg');
    margin-top: 15vh;
    transition: background-image 3s linear;
}

#sign-out-btn:hover{
    background-image: url('cobble.jpg');
}

  


