
.firecamp {
    background-image: url('spritesheet/firecampFrame/frame0.png');
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: 80vw;
    width: 7vw;
    aspect-ratio: 1;
    bottom: 3%;
    cursor: pointer;
    padding: -10%;
}

.bird{
    background-image: url('spritesheet/yellowBirdFrame/frame0.png');
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: 50vw;
    width:2vw;
    aspect-ratio: 1;
    cursor: pointer;
}