
.firecamp {
    background-image: url('spritesheet/deadBirdFrame/frame.png');
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: 80vw;
    width: 10vw;
    aspect-ratio: 1;
    bottom: 1%;
    cursor: pointer;
}

.bird{
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width:2vw;
    aspect-ratio: 1;
    cursor: pointer;
}