.tuyau{
    background-image: url('spritesheet/tuyauFrame/frame.png');
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    height: 50vh;
    width: 30vw;
    bottom: 0%;
}

#tuyau1{
    left: 15vw;
}

#tuyau2{
    left: 80vw;
}

.bird{
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width:2vw;
    aspect-ratio: 1;
    cursor: pointer;
}


.cursor {
	position:absolute;
    background-repeat: no-repeat;
	background-image:url('spritesheet/cursorFrame/frame0.png');
	width:3vw;
    aspect-ratio: 2;
    background-size: contain;
}

.wind {
    position:absolute;
    background-repeat: no-repeat;
	background-image:url('spritesheet/windFrame/frame0.png');
	width:10vw;
    aspect-ratio: 1;
    background-size: contain;
    z-index: 1;
}